<div class="blog-wrapper">
    <div class="content-wrapper">
        <div class="content-detached content-center">
            <div class="content-body">
                <!-- Blog List -->
                <div class="blog-list-wrapper">
                    <!-- Blog List Items -->
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="codigoCobro" name="codigoCobro"
                                                    placeholder="Código de Cobro">
                                            </div>

                                        </div>

                                        <div class="col-md-2">
                                            <a class="btn btn-primary" (click)="obtenerListaCobros()">
                                                <i data-feather='search'></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>